/**
 *  MAIN -----------------
 *  页面样式代码
 */
.page1 {
  background-image: url("http://qing.94uv.cn/hnqs/images/img1.jpg");
}
.page2 {
  background-image: url("http://qing.94uv.cn/hnqs/images/img2.jpg");
}
.page3 {
  background-image: url("http://qing.94uv.cn/hnqs/images/img3.jpg");
}
.page4 {
  background-image: url("http://qing.94uv.cn/hnqs/images/img4.jpg");
}
